<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Time</th>

    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="order_name"><%= order.name %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th> Product Name </th>
      <th> Price </th>
      <th> Quantity </th>
      <th> Status </th>
    </tr>
  </thead>

  <tbody class="orderItem">
  </tbody>
  <br>
  <p>total : </p>
  <p class="total"></p>
</table>
<!-- <%= link_to 'New Order', new_order_path %> -->
